<header class="border-b-2 h-header">
    <div class="container mx-auto flex items-center h-full">
        <h1 class="text-3xl font-bold"><a href="/"
                                          class="no-underline text-primary hover:text-primary-800 transition-colors">Homeo
                sapiens</a></h1>
    </div>
</header>