@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@model Courses.ViewModels.IndexViewModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container mx-auto">
    <h2 class="text-2xl font-bold leading-loose">@Localizer["Events"]</h2>

    <div class="space-y-4">
        @foreach (var e in Model.Events)
        {
            <article class="border-2 rounded-lg p-4">
                @if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "pl")
                {
                    <h2>@e.TitlePl</h2>
                }
                else
                {
                    <h2>@e.TitleEn</h2>
                }
            </article>
        }
    </div>
</div>
